<h2>Detalle del Articulo</h2>

<div>
<p><strong>Titulo:</strong></p>
<p><%= @article.title %> </p>
</div>

<div>
<p><strong>Texto del articulo:</strong></p>
<p><%= @article.body%> </p>
</div>

<h3>Comment:</h3>
<%= render @article.comments %>


<h3>Add a comment:</h3>

<%= render 'comments/form' %>
  

<div>
  <%= link_to "Edit", edit_article_path %>
  <%= link_to "Delete", article_path(@article),
  method: :delete,
  data: { confirm: "¿Are you sure?" } %>

</div>

