<h2>Detalle del Articulo</h2>

<div>
<p><strong>Titulo:</strong></p>
<p><%= @article.title %> </p>
</div>

<div>
<p><strong>Texto del articulo:</strong></p>
<p><%= @article.body%> </p>
</div>

<h3>Comment:</h3>

<% @article.comments.each do |comment| %>

  <div>
      <p><strong>Commenter:</strong></p>
      <p><%= comment.commenter %></p>
   </div>

  <div>
     <p><strong>body:</strong></p>
     <p><%= comment.body %></p>
  </div>

  <% end %>

<h3>Add a comment:</h3>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>

    <div>
    <p><%= form.label :commenter %></p>
    <p><%= form.text_field :commenter %></p>
    </div>

    <div>
    <p><%= form.label :body %></p>
    <p><%= form.text_area :body %></p>
    </div>
    

    <div>
    <%= form.submit %>
    </div>

    <%end%>


    


<div>
  <%= link_to "Edit", edit_article_path %>
  <%= link_to "Delete", article_path(@article),
  method: :delete,
  data: { confirm: "¿Are you sure?" } %>

</div>

